<a href="https://colab.research.google.com/github/MrEplenier/fraud-detection/blob/master/fraud_detection_fr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
data = pd.read_csv('/content/drive/My Drive/Fac/MeÃÅmoire/PS_20174392719_1491204439457_log.csv')

In [ ]:
a = len(data[data["isFraud"] == 0].index)
b = len(data[data["isFraud"] == 1].index)
total = len(data.index)


print("Non fraude : {:.2%}".format(a/total))
print("Fraude : {:.2%}".format(b/total))

Non fraude : 99.87%
Fraude : 0.13%

In [ ]:
data

         step      type      amount  ... newbalanceDest  isFraud  isFlaggedFraud
0           1   PAYMENT     9839.64  ...           0.00        0               0
1           1   PAYMENT     1864.28  ...           0.00        0               0
2           1  TRANSFER      181.00  ...           0.00        1               0
3           1  CASH_OUT      181.00  ...           0.00        1               0
4           1   PAYMENT    11668.14  ...           0.00        0               0
...       ...       ...         ...  ...            ...      ...             ...
6362615   743  CASH_OUT   339682.13  ...      339682.13        1               0
6362616   743  TRANSFER  6311409.28  ...           0.00        1               0
6362617   743  CASH_OUT  6311409.28  ...     6379898.11        1               0
6362618   743  TRANSFER   850002.52  ...           0.00        1               0
6362619   743  CASH_OUT   850002.52  ...     7360101.63        1               0

[6362620 rows x 11 columns]


### **Description de la base de donn√©es**

<br>

https://www.kaggle.com/ntnu-testimon/paysim1

<br>

* **`step`** : Unit√© de temps en heure (simulation sur 30 jours)
* **`type`** : Type de transaction
* **`amount`** : Montant de la transaction

<br>

* **`nameOrig`** : Emetteur
* **`oldbalanceOrg`** : Solde de l'√©metteur avant la transaction
* **`newbalanceOrg`** : Solde de l'√©metteur apr√®s la transaction

<br>

* **`nameDest`** : Receveur
* **`oldbalanceDest`** : Solde du receveur avant la transaction
* **`newbalanceDest`** : Solde du receveur apr√®s la transaction

<br>

* **`isFraud`** : Fraude d√©tect√©e (1) ou non-d√©tect√©e (0)
* **`isFlaggedFraud`** : Virement de plus de 200,000

In [ ]:
# Ne pas consid√©rer 'isFlaggedFraud'

In [ ]:
data.drop(columns = ['isFlaggedFraud'])

         step      type      amount  ... oldbalanceDest  newbalanceDest  isFraud
0           1   PAYMENT     9839.64  ...           0.00            0.00        0
1           1   PAYMENT     1864.28  ...           0.00            0.00        0
2           1  TRANSFER      181.00  ...           0.00            0.00        1
3           1  CASH_OUT      181.00  ...       21182.00            0.00        1
4           1   PAYMENT    11668.14  ...           0.00            0.00        0
...       ...       ...         ...  ...            ...             ...      ...
6362615   743  CASH_OUT   339682.13  ...           0.00       339682.13        1
6362616   743  TRANSFER  6311409.28  ...           0.00            0.00        1
6362617   743  CASH_OUT  6311409.28  ...       68488.84      6379898.11        1
6362618   743  TRANSFER   850002.52  ...           0.00            0.00        1
6362619   743  CASH_OUT   850002.52  ...     6510099.11      7360101.63        1

[6362620 rows x 10 columns]

## **Autoencoder**

In [ ]:
x = np.random.rand(200*64*64*3).reshape((200, 64, 64, 3))
x_test = x.reshape((x.shape[0], -1)).T
x_test.shape

(12288, 200)